# Build
build/
cmake-build-*/

# Output images
output/*.ppm
output/*.png

# IDE
.vscode/
.idea/
*.swp
*~

# Executables
*.exe
*.out

# OS
Thumbs.db
.DS_Store
resources/
output/*.nsys-rep
output/*.sqlite
EPICS.md
ETAT_DES_LIEUX.md
run_ncu.bat
enable_ncu.bat
output/*.csv
RAPPORT.md
rapport/
